{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block body %}

    <h1>Results</h1>

    {% dump(results) %}

    {% for result in results %}
        <div class="card">
            <p><b>{{ result['name'] | default('No name') }}</b></p>
            <i>{{ result['lat'] | default('No latitude') }}, {{ result['lon'] | default('No longitude') }}</i>
            <ul>
                <li>{{ result['address']['city'] | default('No city') }} - </li>
                <li>{{ result['address']['road'] | default('No road') }} - </li>
                <li>{{ result['address']['postcode'] | default('No postcode') }}</li>
            </ul>
            <form action="{{ path('poi_add') }}" method="post">
                <input type="hidden" name="nom" value="{{ result['name'] | default('No name') }}">
                <input type="hidden" name="latitude" value="{{ result['lat'] | default('No latitude') }}">
                <input type="hidden" name="longitude" value="{{ result['lon'] | default('No longitude') }}">
                <input type="hidden" name="ville" value="{{ result['address']['city'] | default('No city') }}">
                <input type="hidden" name="adresse" value="{{ result['address']['road'] | default('No road') }}">
                <input type="hidden" name="cp" value="{{ result['address']['postcode'] | default('No postcode') }}">
                <button type="submit">
                    <b>Ajouter</b>
                </button>
            </form>
        </div>
    {% endfor %}

{% endblock %}